.logo-img {
  width: 50px;
}

li > button > img {
  width: 30px;
  display: inline;
}

.nav-button {
  width: 40px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  padding: 5px;
  border-radius: 10px;
}

.nav-button:hover {
  background-color: #fad0c966;
}

.nav-button:active {
  background: #fee3de;

  /* transform: translateY(4px); */
}

.logo-div {
  margin-top: -8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-name {
  margin-top: -8px;
  font-size: 14px;
}

body {
  /* background-image: url("./img/PastelHourDesktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; */

  /* background-color: #453f3c; */
}

.kitten-active {
  background-color: #fad0c9;
}

.hidden {
  display: none;
}

li {
  margin: 0 5px;
}

.radio-div {
  width: 320px;
  height: 200px;
  background-color: #fad0c9;
  border-radius: 8px;
}

.music-widget {
  padding: 15px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.247) 0 8px 24px;
}

.bg-img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}

label {
  font-size: 1rem;
}

.sticky-note {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 300px;
  background-color: #fcecc9;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.247) 0 8px 24px;
}

textarea {
  height: 100%;
  resize: none;
  background-color: #fcecc9;
  border: none;
}

textarea:focus {
  outline: none;
}

.titlebar {
  width: 200px;
  text-align: center;
  height: 30px;
}

.sticky-logo {
  width: 30px;
}

.sticky-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 100%;
}

.sticky-x {
  color: red;
}

.notes-article {
  height: 100%;
}

.sticky-count {
  position: absolute;
  left: 100px;
  top: 40px;
  color: white;
  background-color: #6e96eb;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-color: black;
  border-width: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
}

.active-sticky-background {
  background-color: #d9d9d9;
}

.active-notes {
  background-color: #fcecc9;
}

.active-radio {
  background-color: #93b1a7;
}
