.logo-img {
  width: 50px;
}

li > button > img {
  width: 30px;
  display: inline;
}

.nav-button {
  width: 40px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  padding: 5px;
  border-radius: 10px;
}

.nav-button:hover {
  background-color: #fad0c966;
}

.nav-button:active {
  background: #fee3de;

  /* transform: translateY(4px); */
}

.logo-div {
  margin-top: -8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-name {
  margin-top: -8px;
  font-size: 14px;
}

body {
  /* background-image: url("./img/PastelHourDesktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; */

  /* background-color: #453f3c; */
}

.kitten-active {
  background-color: #fad0c9;
}

.hidden {
  display: none;
}

li {
  margin: 0 5px;
}

.radio-div {
  width: 320px;
  height: 200px;
  background-color: #fad0c9;
  border-radius: 8px;
}

.music-widget {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.247) 0 8px 24px;
}

.bg-img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}

label {
  font-size: 1rem;
}

.sticky-note {
  position: absolute;
  left: 177px;
  top: 11px;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 300px;
  background-color: #fcecc9;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.247) 0 8px 24px;
}

textarea {
  height: 100%;
  resize: none;
  background-color: #fcecc9;
  border: none;
}

textarea:focus {
  outline: none;
}

.titlebar {
  width: 200px;
  text-align: center;
  height: 30px;
}

.sticky-logo {
  width: 30px;
}

.sticky-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 100%;
}

.sticky-x {
  color: red;
}

.notes-article {
  height: 100%;
}

.sticky-count {
  position: absolute;
  left: 100px;
  top: 40px;
  color: white;
  background-color: #6e96eb;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-color: black;
  border-width: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
}

.active-sticky-background {
  background-color: #d9d9d9;
}

.active-notes {
  background-color: #fcecc9;
}

.active-radio {
  background-color: #93b1a7;
}

.radio-button {
  width: 150px;
  height: 60px;
  border-width: 0.2rem;
  border-color: black;
  border-radius: 8px;
  margin: 2px 4px;
  position: relative;
  isolation: isolate;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.lofi-girl::after {
  content: "";
  position: absolute;
  background-size: cover;
  inset: 0;
  z-index: -1;
  background-image: url("./img/lofigirl150.png");
  opacity: 0.3;
}

.piano-guy::after {
  content: "";
  position: absolute;
  background-size: cover;
  inset: 0;
  z-index: -1;
  background-image: url("./img/pianoguy150.png");
  opacity: 0.3;
}

input[type="radio"] {
  display: none;
}

.raccoon::after {
  content: "";
  position: absolute;
  background-size: cover;
  inset: 0;
  z-index: -1;
  background-image: url("./img/racoon150.png");
  opacity: 0.3;
}

.coffee-shop::after {
  content: "";
  position: absolute;
  background-size: cover;
  inset: 0;
  z-index: -1;
  background-image: url("./img/loficoffee150.png");
  opacity: 0.3;
}

.option {
  background: #fff;
  height: 60px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid #005949;
  transition: all 0.3s ease;
}

.option:hover {
  border: 0.5rem solid #005949;
}

input[type="range"] {
  width: 10rem;
  height: 1rem;
  border-radius: 0.5rem;
  appearance: none;
  outline: none;
  background: #f2f2f2;
  cursor: pointer;
  overflow: hidden;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: #f2f2f2;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #005949;
  box-shadow: -300px 0 0 290px #005949;
}

.fa-volume-high,
.fa-volume-xmark {
  font-size: 16px;
  margin: 0 10px;
}

.margin-bot-8 {
  margin-bottom: 8px;
}

input[type="radio"][value="jfKfPfyJRdk"]:checked + label {
  background-image: url("./img/lofigirl150.png");
  border: none;
  opacity: 1;
  content: "";
}

input[type="radio"][value="5yx6BWlEVcY"]:checked + label {
  background-image: url("./img/racoon150.png");
  border: none;
  opacity: 1;
  content: "";
}

input[type="radio"][value="tfBVp0Zi2iE"]:checked + label {
  background-image: url("./img/pianoguy150.png");
  border: none;
  opacity: 1;
  content: "";
}

input[type="radio"][value="e3L1PIY1pN8"]:checked + label {
  background-image: url("./img/loficoffee150.png");
  border: none;
  opacity: 1;
  content: "";
}

.kitten-widget {
  width: 280px;
  height: 300px;
  background-color: #464646;
  border-radius: 16px;
  padding: 20px;
  padding-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.247) 0 8px 24px;
}

.kitten-widget > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.refresh-div {
  padding-top: 2px;
  width: 100%;
  color: #fad0c9;
  font-size: 18px;
  display: flex;
  margin-left: 15px;
  justify-content: flex-end;
}

.active-kitten {
  background-color: #fad0c9;
}

.cat-img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.cat-container {
  height: 260px;
  max-width: 215px;
}
